@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

$background: #1e272e;
$text: whitesmoke;

body{
    margin: 0;
    padding: 0;
    
    background-color: $background;
    color: $text;
    font-family: 'Roboto', sans-serif;

    font-weight: 300;
    
    h1{
        font-weight: 700;
    }

    #container{
        padding: 15px;
    }

    #button{
        background: darken($background, 10%);
        padding: 5px 10px;
        color: whitesmoke;
        text-decoration: none;
    }
    
    #song{
        padding: 15px;

        h6{
            font-size: 1em;
            margin: 5px 0;
            font-weight: 300;
            text-transform: uppercase;
        }


        a{
            color: $text;
            text-decoration: none;
        }
        
    }
    
    #song:nth-of-type(2n){
        background: rgba(0,0,0,0.1)
    }
}