body{

    margin: 0;
    background: #222;
    
    #body{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    
        #images{
            max-width: 100%;
            height: auto;
        }

    }
}